name: 'Logic App Standard'
on:
  push:
    branches:
      - 'main'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
    - uses: actions/checkout@v3

      # Log into Azure
    - uses: azure/login@v1
      with:
        creds: '{"clientId":"${{ secrets.CLIENT_ID }}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'

      # Deploy Bicep file
    - name: deploy
      uses: azure/arm-deploy@v1
      with:
        resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
        template: ./bicep/main.bicep
        parameters: ./bicep/parameters/demo.json
        failOnStdErr: false

    - name: Package logic
      run: (cd workflows; mkdir -p ../output; zip -r ../output/logic.zip .)

    - name: Deploy to Logic App
      uses: Azure/functions-action@v1.3.1
      with:
        app-name: la-logicapp-standard-demo
        package: './output/logic.zip'